#walmart {
  background-image: url("https://cdn-assets.affirm.com/vcn_buy/v1/merchants/X96ZPHNIR5GRHG1W/hero2021120749/hero_offer.png?width=1382px&format=jpg&quality=75");
  background-size: auto;
  background-position: center;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.3s;
}

#walmart:hover {
  background-size: 170%;
  background-position: center;
}
