#deltavacations {
  background-image: url("https://cdn-assets.affirm.com/vcn_buy/v1/merchants/ADZ7B0E05VRTMPN2/hero20190109/hero_offer.jpg?width=576&format=jpg&quality=75");
  background-size: cover;
  background-position: center;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.3s;
}

#deltavacations:hover {
  background-size: 120%;
  background-position: center;
}

#saksfifthavenue {
  background-image: url("https://cdn-assets.affirm.com/merchant/promos/KGYHY5KUZIA6C5ET/hero2022012002/hero_27.png?width=576&format=jpg&quality=75");
  background-size: cover;
  background-position: center;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.3s;
}

#saksfifthavenue:hover {
  background-size: 120%;
  background-position: center;
}

#reverb {
  background-image: url("https://cdn-assets.affirm.com/vcn_buy/v1/merchants/P2T82BO89LRD4WYH/hero_20190710101735/hero.png?width=576&format=jpg&quality=75");
  background-size: cover;
  background-position: center;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.3s;
}

#reverb:hover {
  background-size: 120%;
  background-position: center;
}

#mirror {
  background-image: url("https://cdn-assets.affirm.com/vcn_buy/v1/merchants/MZ5NBOKI64F9QBB3/hero_20190806145556/hero.png?width=576&format=jpg&quality=75");
  background-size: cover;
  background-position: center;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.3s;
}

#mirror:hover {
  background-size: 120%;
  background-position: center;
}

#expedia {
  background-image: url("https://cdn-assets.affirm.com/vcn_buy/v1/merchants/Z0BQ6KB8BLMXH75Q/hero20191204/hero_offer.png?width=576&format=jpg&quality=75");
  background-size: cover;
  background-position: center;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.3s;
}

#expedia:hover {
  background-size: 120%;
  background-position: center;
}

#molekule {
  background-image: url("https://cdn-assets.affirm.com/vcn_buy/v1/merchants/0ZV27J8P7X3UJJ0R/hero_20190712134510/hero.png?width=576&format=jpg&quality=75");
  background-size: cover;
  background-position: center;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.3s;
}

#molekule:hover {
  background-size: 120%;
  background-position: center;
}

#thredup {
  background-image: url("https://cdn-assets.affirm.com/vcn_buy/v1/merchants/JN8GO75EH36UNBA4/hero2019111307/hero_offer.png?width=576&format=jpg&quality=75");
  background-size: cover;
  background-position: center;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.3s;
}

#thredup:hover {
  background-size: 120%;
  background-position: center;
}

#nike {
  background-image: url("https://cdn-assets.affirm.com/merchant/promos/44WXOQ22LJEYREMX/hero2022013159/nike_hero.png?width=576&format=jpg&quality=75");
  background-size: cover;
  background-position: center;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.3s;
}

#nike:hover {
  background-size: 120%;
  background-position: center;
}
