#herobody {
  background-image: url("https://images.ctfassets.net/4rc1asww3mw7/3UpSNlID5JLFGrO4NWRRuo/e6cd9f7978b4eb69dc165d851f7fc7a8/Homepage_Hero_1900x700px_2x.jpg?w=2336&q=80&fm=webp");
  background-size: cover;
  background-position: center;
}
