#slide1 {
  background-color: #f4f3f2;
}

#slide2 {
  background-color: #f4f3f2;
}

#slide3 {
  background-color: #f4f3f2;
}

.nextbutton {
  background-color: blueviolet;
  color: white;
}

#howtobuytitle {
  font-family: "Mangueira";
}

#howtobuybody {
  font-family: "Calibre";
}
